@media print {
	@page { size: A4;  margin: 10mm 2mm; }
	body {-webkit-print-color-adjust: exact;color-adjust: exact;}
	header {
		display: none;
	}
	.no-print {display: none;}
	.printable {display: block;}
	.block-filter__form-search,
	.block-filter__form-edit,
	.block-filter-chart__options {
		display: none;
	}
	.col-print-12 {
		width: 100%;
	}

	/* donuts (dashboard_avaliacao_independente.php) */
	.col-print-12 .block-rate__chart {margin: 0 auto;}
	.col-print-12 .block-rate__meter {margin: 0 auto; width: 160px; display: block;}
	.col-print-12  .block-rate__chart__caption { padding-left: 0; }
	.col-print-12  .block-rate__chart__caption li { width: 28%;  float: left; }
	.col-print-12 .tab-content > .tab-pane  {display: inline-block !important; width: 32%;}
	.col-print-12 .tab-content > .tab-pane >.row { padding: 0 10px; } 
	.col-print-12 .tab-content > .tab-pane:not(:last-child) { border-right: 1px solid #c7c7c7; }
	.col-print-12 .tab-content  .block-rate__meter { padding-top: 30px;     width: auto;}
	.col-print-12 .tab-content  .block-rate__meter strong {  width: 100%; }
	/*.row .col-xs-6 > .row .col-xs-4 {
		display:block;
		float:none;
		margin: 0 auto;
	}
	.row .col-xs-6 > .row .col-xs-4:not(:last-child) {
		margin: 245px auto;
	} */
	.tab-content > .tab-pane {
		display: block !important;
	} 
	.block-pagination,
	.toggle-wrapper,
	.col-xs-5.text-right > a.button--primary-a, 
	.nav-tabs,
	.button--icon-a.pull-right,
	.button--primary-a.pull-right,
	.button--secondary-a.button--smaller.pull-right,
	.button--icon-a.full-width,
	.button--secondary-a.button--bigger.full-width,
	.fa.fa-edit {
		display: none;
	}
	/* black and white colors */
	.title-page,
	.block-title-2__title,
	.block-profile-time strong,
	.block-profile-time span,
	.block-rate__subtitle,
	label {
		color: #000;
	}
	.block-single-map .nav-tabs a,
	.block-single-map .nav-tabs li.active a,
	.block-filter-chart .nav-tabs a,
	.block-filter-chart .nav-tabs li.active a {
		border-radius: 2px;
		border: 1px solid #c4e8f5;
		color: #555;
		background-color: #fff;
		border: 1px solid #c4e8f5;
	}

	.block-rate__chart__caption .caption-1:after {
		background-color: #2069af!important;
	}
	.block-rate__chart__caption .caption-2:after {
		background-color: #00b4f5!important;
	}
	.block-rate__chart__caption .caption-3:after {
		background-color: #c5e5f2!important;
	}
	.block-rate__meter.color-red strong {
		background-color: #e84141!important;
	}
	.block-rate__meter.color-yellow strong {
		background-color: #ffc107!important;
	}
	.block-rate__meter strong {
		background-color: #30a736!important;
	}
	.block-rate__column-2 > .block-rate__list > li:first-child i.fa-circle:before {
		color: #2369b3 !important;
	}
	.block-rate__column-2 > .block-rate__list > li:nth-child(2) i.fa-circle:before {
		color: #4dcfff  !important;
	}
	.block-rate__column-2 > .block-rate__list > li:nth-child(3) i.fa-circle:before {
		color: #c4e8f5 !important;
	}
	.status-do-filtro {
		display: none;
	}
	.block-painel__meter {
	  color: #ffffff !important;
	}
	.block-painel__meter.back-green { 
		background-color: #30a736 !important;
	}
	.block-painel__meter.back-orange { 
		background-color: #f1884c !important;
	}
	.block-painel__calendario:before {
	  color: #454545 !important;
	}
	.block-painel__avaliacao {
		color: #ffffff !important;
	}
	.block-painel__avaliacao-back-yellow {
		background-color: #ffc107 !important;
	}
	.block-painel__avaliacao-back-red {
		background-color: #e84141 !important;
	}
	.block-painel__avaliacao-back-purple {
		background-color: #9250DA !important;
	}
	.status-da-avaliacao-resultado-lista-item {
		min-height: 100px;
	}
	.status-da-avaliacao-nota.back-orange {
		background-color: #fe8f45 !important;
	}
	.status-da-avaliacao-nota.back-green {
		background-color: #99cc33 !important;
	}
	.status-da-avaliacao-nota.back-orange p,
	.status-da-avaliacao-nota.back-green p {
		color: #ffffff !important;
	}
	.status-da-avaliacao-resultado-lista .block-filter-chart__options {
		display: block !important;
	}
	.dmb-30.block-painel {
		border-bottom: 1px solid #000;
	}
	.block-single-map .block-map-acompanhamento {
		padding: 20px 20px;
	}
	.block-kanban__scroll {
		max-height: none;
		overflow-y: auto;
	}
	.checkbox-group input[type='checkbox'] +label:before, 
	.radio-group input[type='radio'] + label:before, 
	.checkbox-group--inline input[type='checkbox'] + label:before, 
	.radio-group--inline input[type='radio'] + label:before {
		visibility: hidden;
	}
	.button--icon-a.button--position-right {
		display: none;
	}
} 